<% content_for :header_actions do %>
<a href='/lists/create'>New List</a>
<% end %>

<ul id='lists'>
  <% @lists.each_with_index do |list, list_idx| %>
  <li>
    <a href='/list/<%= list_idx %>'>
      <h2><%= list[:name] %></h2>
      <p><%= list[:todos].size %></p>
    </a>
  </li>
  <% end %>
</ul>