<form action="/list/<%= @list_id %>" method="post">
  <dl>
    <dt>
      <label for="list_name">Edit list name:</label>
    </dt>
    <dd>
      <input name="list_name" placeholder="List Name" type="text" value="<%= @list_name_value %>">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/list/<%= @list_id %>">Cancel</a>
  </fieldset>
</form>